.header {
    background-color: rgb(158, 158, 158);
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.recepcao {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}